/* Custom Theme with #4E47E1 primary color */
.theme-custom {
  /* --background: 0 0% 100%;
  --foreground: 240 10% 3.9%; */
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;

  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;

  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;

  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;

  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;

  /* --primary: 245 84% 56%;
  --primary-foreground: 0 0% 98%; */
  --primary: 243 72% 58%; /* #4E47E1 in HSL */
  --primary-foreground: 0 0% 98%;

  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;

  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;

  --destructive: 0 84.2% 60.2%; /* #B12F00 in HSL */
  --destructive-foreground: 350 72% 58%;

  --success: 134 55% 32%; /* #25803A in HSL */
  --success-foreground: 355.7 100% 97.3%;

  --warning: 24.6 95% 53.1%;
  --warning-foreground: 33.3 100% 96.5%;

  --info: 205 100% 35%; /* #0067B1 in HSL */
  --info-foreground: 183.2 100% 96.3%;

  --ring: 245 84% 56%;

  --default-50: 0 0% 98%;
  --default-100: 240 4.8% 95.9%;
  --default-200: 240 5.9% 90%;
  --default-300: 240 4.9% 83.9%;
  --default-400: 240 5% 64.9%;
  --default-500: 240 3.8% 46.1%;
  --default-600: 30 5% 41%; /* #6D6863 */
  --default-700: 240 5.3% 26.1%;
  --default-800: 240 3.7% 15.9%;
  --default-900: 30 10% 11%; /* #201D1A in HSL */
  --default-950: 240 10% 3.9%;

  --radius: 1.25rem;
}

.dark .theme-custom {
  --background: 220 42% 7%; /* #0F172A in HSL */
  --foreground: 0 0% 98%;

  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;

  --popover: 240 5.9% 10%;
  --popover-foreground: 0 0% 98%;

  --card: 220 28.6% 16.5%;
  --card-foreground: 0 0% 98%;

  --border: 240 5.3% 26.1%;
  --input: 240 3.7% 15.9%;

  --primary: 241 65% 55%;
  --primary-foreground: 219 11% 64%; /* #989FAC in HSL */

  --secondary: 240 5.3% 26.1%;
  --secondary-foreground: 0 0% 98%;

  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;

  --success: 134 60% 49%; /* #25803A in HSL */
  --success-foreground: 355.7 100% 97.3%;

  --info: 205 97% 53%; /* #149BFC in HSL */
  --info-foreground: 183.2 100% 96.3%;

  --destructive: 16 97% 48%; /* #F04304 in HSL */
  --destructive-foreground: 0 0% 98%;

  --ring: 240 4.9% 83.9%;

  --default-950: 0 0% 98%;
  --default-900: 30 10% 89%; /* #E5E2DF in HSL */
  --default-800: 240 5.9% 90%;
  --default-700: 240 4.9% 83.9%;
  --default-600: 219 11% 64%; /* #989FAC in HSL */
  --default-500: 0 0% 88%;
  --default-300: 240 5.2% 33.9%;
  --default-200: 240 5.3% 26.1%;
  --default-100: 240 3.7% 15.9%;
  --default-50: 240 5.9% 10%;
}
